<div class="card-deck">
    {% for review in reviews %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted">{{ review.date }} - {{ review.user }}</p>
                <h5 class="card-title">{{ review.description }}</h5>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'review_update' review.id %}" class="btn btn-sm btn-outline-secondary mx-1">Edit</a>
                    <form method="POST" action="{% url 'review_delete' review.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-secondary mx-1">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>