<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
          
  <main class="container">
   
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <div class="icons-container">
        <div class="share-icon">
          <img class="img" src="https://lh3.googleusercontent.com/NwFYKli9kvDsVFsvMn5iUX_ulcB0XOhfYpmhpQON5Jz2mpxZFM7pJ1FX6GwnqNTfmogWPkFpEC79rY9h0xPAP_wcosqi61neil6G3UG9" alt="">
        </div>
       <div class="product-price">
        <span><h3>£29.99</h3></span></di>
      <img data-image="blue" src="images/blue.png" alt="">
      <img data-image="red" class="active" src="images/red.png" alt="">
    </div>
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span><h1></h1>Smartwatch</span>
        <h1>Fire Boltt</h1>
        <p>Fire-Boltt talk smartwatch comes with Spo2 blood oxygen monitoring, heart rate tracking, full touch, round display, 10 days battery life, and smart notifications.</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
   
        <!-- Product Color -->
        <div class="product-color">
          <span>Color</span>
   
          <div class="color-choose">
            <div>
              <input data-image="red" type="radio" id="red" name="color" value="red" checked>
              <label for="red"><span></span></label>
            </div>
            <div>
              <input data-image="blue" type="radio" id="blue" name="color" value="blue">
              <label for="blue"><span></span></label>
            </div>
            <div>
              <input data-image="black" type="radio" id="black" name="color" value="black">
              <label for="black"><span></span></label>
            </div>
          </div>
   
        </div>
   
        <!-- Cable Configuration -->
        <div class="cable-config">
          <span>Strap</span>
   
          <div class="cable-choose">
            <button>Leather Strap</button>
            <button>Stainless Steel Strap</button>
            <button>Black Fluoroelastomer Strap</button>
          </div>
   
          <a href="#">How to configurate your smartwatch</a>
        </div>
      </div>
   <!--buy now-->
   <div class="buy-now">
  
    <a href="#" class="cart-btn">Buy Now</a>
  
      <!-- Product Pricing -->
      
       <!--<div class="add-cart">--> 
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    <!--</div>-->
  </div>
</div>
  </main>    </script>
    </body>
  </html>
